.square {
    background: #ffffff;
    border: 1px solid #000000;
    float: left;
    line-height: 60px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    width: 60px;
}
  
.square:focus {
    outline: none;
}